* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root,
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.home {
  max-width: 800px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 250px;
}

.home p {
  font-size: 20px;
}

.home a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 150px;
  border: 3px solid black;
  border-radius: 6px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  background-color: blanchedalmond;
  box-shadow: 1px 2px 4px lightgray;
}

.header h1 a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  width: 100%;
  background-color: blanchedalmond;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  gap: 3px;
}

.footer a {
  color: black;
}

.footer img {
  height: 18px;
}

.nav {
  display: flex;
  gap: 50px;
}

.nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: transparent;
  text-shadow: 0 0 0 black;
  transition: transform 0.2s;
}

.nav a:hover {
  transform: scale(1.1);
}

.main-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: rgb(255, 244, 227);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop-page {
  display: grid;
  gap: 6px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 840px;
  padding: 10px;
  margin-top: 150px;
}

.card {
  padding: 20px 16px 16px 16px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  transition: border 0.3s;
}

.card:hover {
  border: 1px solid black;
}

.card img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  align-self: center;
  transition: transform 0.2s;
}

.card:hover img {
  transform: scale(1.1);
}

.card .details {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.859);
  margin-bottom: 6px;
}

.product-page .product-details .price,
.product-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: orangered;
}

.product-page .product-details .rating,
.product-rating {
  font-size: 20px;
  color: gold;
}

.product-page {
  max-width: 1000px;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.product-page img {
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
}

.product-page .product-details {
  display: flex;
  position: relative;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
}

.product-page .product-details h2,
.cart-item h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.product-page .product-details p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* align to left when on product page */
.product-page .product-details .quantity {
  align-self: start;
}

.product-page .product-details .close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 30px;
}

.quantity {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.quantity .add,
.quantity .minus {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity .add-to-cart {
  height: 24px;
  padding: 3px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.cart-page {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 6px;
  margin-top: 120px;
}

.cart-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 600px;
  max-height: 150px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 3px;
  background-color: white;
}

.cart-item .details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  position: relative;
}

.cart-item .details h1 {
  overflow: ellipsis;
}

.cart-item .pricing {
  display: grid;
  position: relative;
  grid-template-rows: 3fr 2fr;
  align-items: center;
  justify-content: start;
  gap: 3px;
  font-size: 20px;
}

.cart-item .pricing .remove-item {
  position: absolute;
  right: 3px;
  color: red;
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.cart-item .pricing .quantity {
  align-self: end;
}

.cart-item .pricing p {
  align-self: start;
  justify-self: center;
}

.cart-item img {
  max-height: 120px;
  max-width: 120px;
  grid-row: span 2;
  justify-self: center;
}

.cart-item h1 {
  font-size: 16px;
  align-self: end;
}

.cart-item .price {
  align-self: start;
}

.cart-item .pricing button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shown {
  opacity: 1;
  transition: opacity 0.3s;
}

.hidden {
  opacity: 0;
  transition: opacity 0.2s;
}

.added-to-cart {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: rgb(0, 207, 0);
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.added-to-cart p {
  outline: 1px black;
}

.checkout {
  display: grid;
  min-width: 600px;
  margin-top: 20px;
}

.checkout .final-total {
  font-size: 40px;
}

.checkout .checkout-button {
  font-size: 20px;
  height: 50px;
}

.cart-header {
  font-family: Arial, Helvetica, sans-serif;
}

/* react modal */
.ReactModal__Content--after-open {
  max-height: 90vh;
  justify-self: center;
  align-self: center;
}

/* react overlay, react modal's parent */
.ReactModal__Overlay--after-open {
  display: flex;
}
